.top {
  border: 1px solid #aaa;
}
.logo {
  padding: 40px 0 0 0;
  width: 100%;
  min-width:180px;
}
.search {
  margin:5px auto;
  padding: 0 0 0 30px;
  width:90%;
  height:30px;
  border: 1px solid #b3b3b3;
  border-radius:15px 15px;
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.15);
  box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.15);
  
  background: url(../i/search-icon.png) no-repeat 1% 50%;
}

@media only screen and (max-width : 768px) {

  .logo {
    padding: 40px 0 0 0;
  }
  .search {
    margin:40px 0;
  }  
}

@media only screen and (min-width : 768px) {

  .logo {
    padding: 60px 0;
  }
  .search {
    margin:60px 0;
  }  
}

@media only screen and (min-width : 360px) {

  .logo {
    width:300px;
  }
}