@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  font-size: 1.8em;
  line-height: 1.2em;
}

h1 {
  padding: 0 5%;
  font-size: 2em;
  text-align: center;
  line-height: 1em;
}

.logo {
  padding: 40px 0 0 0;
  width: 100%;
  min-width: 180px;
}

.search {
  margin: 5px auto;
  padding: 0 0 0 30px;
  width: 90%;
  height: 30px;
  border: 1px solid #b3b3b3;
  border-radius: 15px 15px;
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  background: url(../i/search-icon.png) no-repeat 1% 50%;
}

.book-item {
  vertical-align: top;
  display: inline-block;
  width: 100%;
}
.book-item img {
  margin: 0 auto;
  display: block;
  width: 210px;
  height: 300px;
}
.book-item a {
  color: #333;
}
.book-item u {
  text-decoration: underline;
  color: #246ace;
}

.books {
  padding: 0 3vw;
  margin: 0 auto;
  display: block;
}

.book-info {
  padding: 0 3vw;
  margin: 0 auto;
  display: inline-block;
}
.book-info span {
  margin: 25px 6px;
  display: block;
  text-align: center;
}
.book-info .reviews {
  padding: 1% 2%;
  vertical-align: top;
  display: inline-block;
}
.book-info .reviews img {
  display: block;
  margin: 0 auto;
  width: 210px;
}
.book-info .reviews cite {
  display: block;
  font-style: normal;
}
.book-info .reviews cite:before {
  position: relative;
  float: left;
  top: -6px;
  left: -20px;
  font-size: 3em;
  content: "«";
}
.book-info .reviews cite:after {
  position: relative;
  float: right;
  bottom: 40px;
  right: -25px;
  font-size: 3em;
  content: "»";
}
.book-info .features {
  padding: 1% 2%;
  vertical-align: top;
  display: inline-block;
}
.book-info .features img {
  display: block;
  margin: 0 auto;
  width: 210px;
}

.book {
  vertical-align: top;
  width: 100%;
  display: inline-block;
}
.book .cover {
  display: block;
  margin: 0 auto;
  width: 90%;
  -webkit-box-shadow: 6px 6px 10px 3px #888;
  box-shadow: 6px 6px 10px 3px #888;
}

.description strong {
  color: #fd5552;
}

.button {
  margin: 30px auto;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: #855787;
  display: block;
  color: #fff;
  font-size: 150%;
  -webkit-box-shadow: 1px 7px 8px 3px #aaa;
  box-shadow: 1px 7px 8px 3px #aaa;
}
.button:hover {
  background: -moz-linear-gradient(top, #855787 0%, #633a65 100%);
  background: -webkit-linear-gradient(top, #855787 0%, #633a65 100%);
  background: linear-gradient(to bottom, #855787 0%, #633a65 100%);
}

.annotation {
  font-style: italic;
  color: #aaa;
  text-align: center;
}

.ava {
  vertical-align: bottom;
  border-radius: 50% 50%;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .logo {
    padding: 40px 0 0 0;
  }

  .search {
    margin: 40px 0;
  }

  .book-item {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .logo {
    padding: 60px 0 0 0;
  }

  .search {
    margin: 60px 0;
  }

  h1 {
    font-size: 3em;
  }

  .book-item {
    width: 32%;
  }

  .book-info .reviews {
    width: 20%;
  }
  .book-info .reviews img {
    width: 100%;
  }
  .book-info .features {
    width: 20%;
  }
  .book-info .features img {
    width: 100%;
  }

  .book {
    padding: 0 5%;
    width: 50%;
  }
  .book .cover {
    display: block;
    margin: 0 auto;
    width: 90%;
    min-width: 300px;
  }
}
@media only screen and (min-width: 1200px) {
  .logo {
    padding: 100px 0 0 0;
  }

  .search {
    margin: 100px 0;
  }

  h1 {
    font-size: 4em;
  }

  .book-item {
    width: 20%;
  }
}
@media only screen and (min-width: 360px) {
  .logo {
    width: 300px;
  }
}
@media only screen and (max-width: 520px) {
  .book-item {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
