@mixin book-blocks {
	.book-info
        .reviews
            width: 20%
        .features
            width: 20%
    .book
        padding: 0 5%
        width: 60%
        .cover
            display: block
            margin: 0 auto
            min-width: 320px
}