<!DOCTYPE html>
<html lang="ru" ng-app="fbbBooksApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Books</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container-fluid">
      <div class="row top">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <img class="logo" src="i/logo.png">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <input class="search" type="search" placeholder="Поиск..." ng-model="search">        
        </div>
      </div>
    <div class="row">
      <div ng-view></div>
    </div>
  </div>

<script src="https://code.angularjs.org/1.5.9/angular.min.js"></script>
<script src="https://code.angularjs.org/1.5.9/angular-route.min.js"></script>
<script src="js/app.min.js"></script>
</body>
</html>
