  <header>
    <h1>{{singleBook.title}}</h1>
  </header>
  <div class="row book-info" ng-controller="BookCtrl">
    <div class="reviews">
      <div ng-repeat="prop in singleBook.reviews">
        <img ng-src="{{prop.author.pic}}">
        <cite><span>{{prop.cite}}</span></cite>
      </div>
    </div>
    <div class="book">
      <img class="cover" ng-src="{{singleBook.cover.large}}">
      <p class="description">НЕ РАБОТАЕТ ng-bind-html!</br></p>
      <div ng-bind-html-unsafe="singleBook.description"></div>
      <p>{{singleBook.description}}</p>
      <p>{{singleBook.info}}</p>
      <button class="button">Купить за жалкие {{singleBook.price}} Z</button>
      <p class="annotation">Наши цены самые непредсказуемые и формируются нашим уборщиком Скраффи</p>
      <img class="ava" src="i/Skraffi.png">
    </div>
    <div class="features">
      <div ng-repeat="prop in singleBook.features">
        <img ng-src="{{prop.pic}}">
        <span>{{prop.title}}</span>
      </div>
    </div>
  </div>