  <header>
    <h1>{{header}}</h1>
  </header>
  <div class="row books" ng-controller="BooksListCtrl">
    <div class="book-item" ng-repeat="book in books | filter: search">
      <a href="#/book/{{book.id}}">
        <img ng-src="{{book.cover.small}}">
        <p>{{book.info}}</p>
      </a>
    </div>
  </div>